* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*------------------*/
.start__btn, .help__question-btn, .resource__btn, .about__btn, .header__top-btn, .footer__top-btn {
  font-family: "Quicksand", sans-serif;
  padding: 13px 15px;
  background: #d2e1ff;
  border-radius: 2px;
  color: #3a79ff;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.help__subtitle, .resource__subtitle, .about__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 20px;
}

.help__title, .resource__title, .about__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 92px;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1195px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.burger {
  display: none;
}

.owerlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.owerlay--show {
  opacity: 1;
  visibility: visible;
}

.header__top {
  font-family: "Quicksand", sans-serif;
  background: #ffffff;
  padding: 27px 0;
}

.header__top-inner, .footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.header__top-links, .footer__top-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo, .footer__logo {
  margin-right: 73px;
}

.header__nav-list, .footer__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-item, .footer__nav-item {
  margin-right: 42px;
}
.header__nav-item:last-child, .footer__nav-item:last-child {
  margin: 0;
}

.header__nav-link, .footer__nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  transition: all 0.3s;
}
.header__nav-link:hover, .footer__nav-link:hover {
  font-weight: 700;
  color: #5e81fe;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.header__top-box, .footer__top-box {
  display: flex;
  justify-content: space-between;
}

.header__socials, .footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__social-item, .footer__social-item {
  margin-right: 34px;
  transition: all 0.3s;
}
.header__social-item:last-child, .footer__social-item:last-child {
  margin-right: 44px;
}
.header__social-item:hover path, .footer__social-item:hover path {
  fill: #6188ff;
}

.header__top-btn, .footer__top-btn {
  transition: all 0.3s;
}
.header__top-btn:hover, .footer__top-btn:hover {
  scale: 1.1;
}

.header__body {
  flex-grow: 1;
  border: 1px solid #d8e3fe;
  background: url(../img/Group\ 82.svg), url(../img/clouds.svg) round, linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 91px;
  padding-bottom: 30px;
}

.header__body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 590px;
  margin: 0 auto;
}

.header__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 16px;
}

.header__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 28px;
}
.header__title span {
  font-weight: 500;
}

.header__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8d96bd;
  text-align: center;
  max-width: 500px;
  margin-bottom: 46px;
}

.header__body-btn {
  position: relative;
  top: 50%;
  z-index: 5;
}
.header__body-btn svg {
  transform: translate(10%);
}
.header__body-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}
.header__body-btn:hover::before {
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}

.header__graf {
  max-width: none;
  margin-top: -220px;
}

.header__graf img {
  width: 100%;
}

.header__bottom {
  padding: 58px 15px;
}

.header__companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  max-width: 890px;
  margin: 0 auto;
}

.header__company-item {
  text-align: center;
}

.header__company-link path {
  transition: all 0.3s;
}
.header__company-link:hover path {
  fill: #5982e7;
}

.plan {
  position: relative;
  background: #f5f8ff;
  border: 1px solid #d8e3fe;
  padding: 210px 0;
}

.plan__container {
  max-width: 920px;
  padding: 0 15px;
  margin: 0 auto;
}

.plan__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan__content {
  max-width: 413px;
}

.plan__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 27px;
}

.plan__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
  margin-bottom: 27px;
}
.plan__title span {
  font-weight: 500;
}

.plan__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  margin-bottom: 50px;
}

.plan__btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #adb4d2;
  border: 1px solid #d1d1e4;
  padding: 13px 21px;
  position: relative;
  transition: all 0.3s;
}
.plan__btn:hover {
  background: #4c85ff;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  font-weight: 700;
  color: #ffffff;
}

.plan__btn--play {
  padding-right: 28px;
}
.plan__btn--play:hover::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-27%);
  right: 12px;
  width: 7px;
  height: 8px;
  background: url(../img/play.svg);
}

.plan__image-box {
  position: absolute;
  top: 130px;
  right: 0;
  max-width: 850px;
}

.plan__image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 170px 0;
  background: url(../img/clouds_about.svg) no-repeat;
}

.about__container {
  max-width: 790px;
  padding: 0 15px;
  margin: 0 auto;
}

.about__flex-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  gap: 20px;
}

.about__flex-item {
  max-width: 140px;
}

.about__flex-icon {
  text-align: center;
  margin-bottom: 33px;
}

.about__flex-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074f8;
  margin-bottom: 25px;
}

.about__flex-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
  margin-bottom: 92px;
}

.about__btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
  margin: 0 auto;
}

.about__btn {
  display: block;
  transition: all 0.3s;
}
.about__btn:hover {
  scale: 1.1;
}

.about__btn--red {
  color: #d43f3f;
  background: #ffd7d7;
}

.about__or {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #adb3cb;
  position: relative;
}
.about__or::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -31px;
  height: 1px;
  width: 15px;
  background-color: #dae4fe;
}
.about__or::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: -31px;
  height: 1px;
  width: 15px;
  background-color: #dae4fe;
}

.count {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

.cont__inner {
  display: flex;
}

.count__percent {
  flex-grow: 1;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  text-align: right;
  padding: 66px 90px;
}

.count__icon {
  margin-bottom: 24px;
}

.count__num {
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
}

.count__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  max-width: 260px;
  margin-left: auto;
  margin-right: 0;
}

.count__number {
  flex-grow: 1;
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
  padding: 66px 90px;
  color: #5e80ff;
}
.count__number .count__text {
  margin-left: 0;
  margin-right: auto;
}

.resource {
  padding: 104px 0;
  background: #f5f8ff;
}

.resource__slider-wrapper {
  position: relative;
  max-width: 1185px;
  margin: 0 auto;
}

.resource__slider {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.resource__slide {
  background: #ffffff;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
  padding: 63px 41px;
}

.resource__slide-inner {
  display: flex;
}

.resource__image-box {
  margin-right: 60px;
}
.resource__image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 407px;
  height: 100%;
}

.resource__slide-title {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
  margin-bottom: 32px;
}

.resource__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  margin-bottom: 31px;
}

.resource__btn-box {
  display: flex;
}

.resource__btn {
  margin-right: 8px;
  transition: all 0.3s;
}
.resource__btn:hover {
  transform: scale(1.08);
}

.resource__btn--tranc {
  color: #a6b6da;
  background: #ffffff;
}

.resource__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.resource__prev {
  left: 0;
}

.resource__next {
  right: 0;
}

.resource__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resource__dots button {
  font-size: 0;
  background-color: transparent;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
.resource__dots button::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d6e3;
}
.resource__dots .slick-active button::before {
  background-color: #5283ff;
}

.help {
  padding: 174px 15px;
  font-family: "Quicksand", sans-serif;
  max-width: 745px;
  margin: 0 auto;
}

.help__title {
  margin-bottom: 68px;
}

.help__question-item {
  border-bottom: 1px solid #d8e3fe;
}

.help__question {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #8e96b7;
  padding: 17px 38px;
  position: relative;
}
.help__question::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 11px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url(../img/Vector.svg) no-repeat;
}

.help__question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 53px;
  padding-left: 58px;
}

.help__active {
  display: none;
}

.help__question-item--active .help__question {
  color: #495274;
  font-weight: 700;
}
.help__question-item--active .help__question::before {
  background: url(../img/Vector-active.svg) no-repeat;
}

.help__quesion-text {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  max-width: 400px;
}

.help__question-btn {
  color: #7382a3;
  background: #e8ecf4;
}
.help__question-btn:hover {
  transform: scale(1.08);
}

.start {
  padding: 92px 15px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  background: url(../img/clouds-start.svg) no-repeat, linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}

.start__container {
  max-width: 715px;
  padding: 0 15px;
  margin: 0 auto;
}

.start__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.start__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 28px;
}
.start__title span {
  font-weight: 500;
}

.start__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 28px;
}

.start__btn-box {
  display: flex;
  justify-content: center;
}

.start__btn {
  color: #c7d3ff;
  background: transparent;
  border: 1px solid #a0b4ff;
  transition: all 0.3s;
}
.start__btn:hover {
  color: #565f82;
  background: #ffffff;
  box-shadow: 0px 5px 15px #6480e8;
}

.sign {
  padding: 119px 15px;
  border-bottom: 1px solid #d8e3fe;
}

.sign__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign__container {
  max-width: 890px;
  padding: 0 15px;
  margin: 0 auto;
}

.sign__content {
  max-width: 300px;
}

.sign__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #3d4f9f;
  margin-bottom: 18px;
}

.sign__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.sign__form {
  display: flex;
  max-width: 480px;
  flex-grow: 1;
}
.sign__form input {
  background: #efeff7;
  border-radius: 5px;
  padding: 22px 23px 21px 23px;
  margin-right: 14px;
  width: 100%;
  max-width: 280px;
}
.sign__form input::-moz-placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #7a85ad;
}
.sign__form input:-ms-input-placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #7a85ad;
}
.sign__form input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #7a85ad;
}
.sign__form button {
  width: 100%;
  max-width: 185px;
  background: #4d6ce1;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  padding: 22px 62px 20px 62px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s;
}
.sign__form button:hover {
  transform: scale(1.08);
}

.footer {
  padding: 101px 15px 93px 15px;
  font-family: "Quicksand", sans-serif;
}

.footer__top-inner {
  margin-bottom: 28px;
}

.footer__copy {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #aeb8d0;
  margin-left: 101px;
}

@media (max-width: 1350px) {
  .plan__image-box {
    max-width: 600px;
  }
}
@media (max-width: 1100px) {
  .resource__arrow {
    display: none;
  }
  .resource__slider {
    max-width: 900px;
  }
  .header__body-box {
    padding: 0 15px;
  }
}
@media (max-width: 920px) {
  .header__nav-item, .footer__nav-item {
    margin-right: 20px;
  }
  .header__logo, .footer__logo {
    margin-right: 40px;
  }
  .plan {
    padding: 100px 0;
  }
  .plan__image-box {
    display: none;
  }
  .plan__content {
    margin: 0 auto;
  }
  .plan__subtitle {
    text-align: center;
  }
  .plan__title {
    text-align: center;
  }
  .plan__text {
    text-align: center;
  }
  .plan__btn-box {
    margin: 0 auto;
    text-align: center;
  }
  .resource__image-box {
    display: none;
  }
  .resource__slider {
    max-width: 600px;
    margin-bottom: 50px;
  }
  .resource__text {
    word-wrap: normal;
  }
}
@media (max-width: 800px) {
  .burger {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
  }
  .burger::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/hamburgermenu_120234.svg);
  }
  .burger--folow {
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 8px #aeb5d1;
    background-color: #fff;
  }
  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .burger--open::before {
    width: 15px;
    height: 15px;
    background: url(../img/cancel_close_delete_exit_logout_remove_x_icon_123217.svg) no-repeat;
  }
  .header__top--open {
    transform: translateX(0%);
  }
  .header__top-inner, .footer__top-inner {
    flex-direction: column;
  }
  .header__top-links, .footer__top-links {
    flex-direction: column;
  }
  .header__nav-list, .footer__nav-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .header__nav-item, .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__top-box, .footer__top-box {
    flex-direction: column;
  }
  .header__logo, .footer__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__social-item, .footer__social-item {
    margin-right: 20px;
  }
  .header__social-item:last-child, .footer__social-item:last-child {
    margin-right: 0;
  }
  .header__socials, .footer__socials {
    margin-bottom: 50px;
  }
  .header__top-btn, .footer__top-btn {
    min-width: 310px;
    text-align: center;
  }
  .header__companies {
    grid-template-columns: repeat(3, 1fr);
  }
  .resource__slider {
    max-width: 500px;
  }
  .sign__inner {
    flex-direction: column;
  }
  .sign__content {
    margin-bottom: 20px;
    text-align: center;
  }
  .sign__title {
    text-align: center;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__top-inner {
    flex-direction: row;
  }
  .footer__top-box {
    justify-content: flex-start;
  }
  .footer__socials {
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__copy {
    margin-left: 0;
    display: block;
  }
}
@media (max-width: 700px) {
  .about__flex-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__flex-item {
    text-align: center;
  }
  .about__flex-item {
    margin: 0 auto;
  }
  .help__question-box {
    flex-direction: column;
    align-items: start;
  }
  .help__quesion-text {
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .header__title {
    font-size: 32px;
    line-height: 40px;
  }
  .plan__title {
    font-size: 26px;
    line-height: 40px;
  }
  .cont__inner {
    flex-direction: column;
  }
  .count__percent {
    text-align: center;
  }
  .count__text {
    margin: 0 auto;
  }
  .count__number {
    text-align: center;
  }
  .count__number .count__text {
    margin: 0 auto;
  }
  .resource__slider {
    max-width: 400px;
  }
  .resource__slide {
    padding: 40px 20px;
  }
  .resource__slide-title {
    font-size: 28px;
  }
  .about {
    padding: 100px 0;
  }
  .help {
    padding: 100px 15px;
  }
  .sign {
    padding: 70px 0;
  }
  .footer__top-inner {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .header__top {
    width: 100%;
    min-width: 0;
  }
  .header__top-btn, .footer__top-btn {
    min-width: 280px;
  }
  .header__companies {
    grid-template-columns: repeat(2, 1fr);
  }
  .resource__slider {
    max-width: 340px;
  }
  .resource__btn-box {
    flex-direction: column;
  }
  .resource__btn {
    margin-bottom: 20px;
  }
  .start {
    padding: 80px 0;
  }
  .sign__form {
    flex-direction: column;
  }
  .sign__form input {
    margin-bottom: 20px;
  }
  .sign__form button {
    max-width: 280px;
  }
  .footer__top-btn {
    min-width: 280px;
  }
}
@media (max-width: 380px) {
  .header__companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .start__btn-box {
    flex-direction: column;
  }
  .start__btn {
    text-align: center;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */